<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakpoints</key>
	<dict>
		<key>DashboardWiki.js:110</key>
		<string>-saveThis</string>
		<key>DashboardWiki.js:129</key>
		<string>-saveThis</string>
		<key>DashboardWiki.js:177</key>
		<string>onclick</string>
		<key>DashboardWiki.js:194</key>
		<string>onreadystatechange</string>
		<key>DashboardWiki.js:208</key>
		<string>-makeLink</string>
		<key>DashboardWiki.js:210</key>
		<string>makeLink</string>
		<key>DashboardWiki.js:235</key>
		<string>-</string>
		<key>DashboardWiki.js:7</key>
		<string>load</string>
	</dict>
	<key>BreakpointsFrame</key>
	<string>1123 642 404 338 0 0 1680 1028 </string>
	<key>ContentSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>10</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {760, 373}}</string>
			<string>{{0, 383}, {760, 253}}</string>
		</array>
	</dict>
	<key>ContentViewType</key>
	<integer>0</integer>
	<key>Dashboard Widget Prefs</key>
	<dict>
		<key>id</key>
		<string>726a4f6d40fba741</string>
		<key>in-layer</key>
		<true/>
		<key>path</key>
		<string>/private/tmp/Dashcode/.DashboardWiki.wdgtprojZ4PdSC/DashboardWiki.wdgtproj/project.wdgt/</string>
		<key>percent-offset-x</key>
		<integer>0</integer>
		<key>percent-offset-y</key>
		<integer>0</integer>
		<key>percent-type</key>
		<integer>1</integer>
		<key>percent-x</key>
		<real>0.010714286006987095</real>
		<key>percent-y</key>
		<real>0.077142857015132904</real>
		<key>pos-x</key>
		<integer>18</integer>
		<key>pos-y</key>
		<integer>1131</integer>
		<key>rosetta</key>
		<false/>
	</dict>
	<key>EvaluatorFrame</key>
	<string>457 708 860 212 0 0 1680 1028 </string>
	<key>MainSplitViewGeometry</key>
	<dict>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {243, 657}}</string>
			<string>{{244, 0}, {761, 657}}</string>
		</array>
	</dict>
	<key>MainWindowFrame</key>
	<string>308 -755 1004 678 0 -1050 1680 1050 </string>
	<key>NavigatorSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>5</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>0.0</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>0.0</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {245, 323}}</string>
			<string>{{0, 333}, {245, 303}}</string>
		</array>
	</dict>
	<key>Objects view expanded items</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>7</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>Objects view last selections</key>
	<array/>
	<key>Opened Steps</key>
	<array>
		<integer>0</integer>
	</array>
</dict>
</plist>
